<div class="container card mt-5 p-4 shadow" [ngClass]="{'dark-mode': isDarkMode}">
  <h2 class="text-center" [ngClass]="{'dark-mode': isDarkMode}">Forgot Password</h2>
  <form [formGroup]="forgotForm">
    <label [ngClass]="{'dark-mode': isDarkMode}">Email</label>
    <input type="email" class="form-control mb-3" formControlName="email" [ngClass]="{'dark-input': isDarkMode}">
    <button class="btn btn-primary w-100" (click)="sendOTP()" [disabled]="isLoading" [ngClass]="{'dark-mode': isDarkMode}"> {{ isLoading ? 'Sending...' : 'Send OTP' }}</button>
  </form>

  <div *ngIf="toastMessage" class="alert alert-info mt-3 text-center" [ngClass]="{'dark-mode': isDarkMode}">{{ toastMessage }}</div>
</div>
