.container {
  max-width: 400px;
  margin: auto;
}

h2 {
  color: #007bff;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
}

.btn {
  padding: 10px;
  border-radius: 8px;
}

.otp-input {
  width: 40px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #2e2e2e !important;
  color: white !important;
}

.dark-mode h2,
.dark-mode label {
  color: white !important;
}

.dark-mode .card {
  background-color: #333 !important;
  color: white !important;
  border-color: #555 !important;
}

.dark-mode .form-control {
  background-color: #444 !important;
  color: white !important;
  border-color: #666 !important;
}

.dark-mode .form-control::placeholder {
  color: #aaa;
}

.dark-mode .btn-primary {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white !important;
}

.dark-mode .btn-primary:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
}

.dark-input {
  background-color: #444 !important;
  color: white !important;
  border-color: #666 !important;
}

.dark-input::placeholder {
  color: #aaa;
}

.dark-mode .alert-info{
  background-color: #333 !important;
  color: white !important;
  border-color: #555 !important;
}
