
<div class="home-container">
  <!-- Hero Section -->
  <div class="hero">
      <div class="hero-image-container">
          <img src="assets/img/pic5.jpeg" alt="Question Bank" class="hero-image">
      </div>
      <div class="hero-text">
          <h1 class="hero-title">Welcome to Smart QuizBank </h1>
          <p>The ultimate platform to create, manage, and analyze sheets efficiently.</p>
          <div class="buttons">
            <a (click)="startNow()" class="btn btn-primary">Start Now</a>
          </div>
      </div>
  </div>

  <!-- Features Section -->
<div class="container mt-3 features">
  <h2 class="text-center mb-4">Why Choose Smart QuizBank?</h2>
  <div class="row text-center">
    <div class="col-md-4">
      <i class="bi bi-pencil-square display-4 text-primary"></i>
      <h3>Create Sheets Easily</h3>
      <p>Generate customized sheets with various question types.</p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-bar-chart-line display-4 text-primary"></i>
      <h3>Analyze Performance</h3>
      <p>Get detailed reports and insights on student progress.</p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-clock-history display-4 text-primary"></i>
      <h3>Practice Anytime</h3>
      <p>Students can solve questions whenever they want.</p>
    </div>
  </div>
</div>


<!-- </div> -->

