<!-- <div class="container p-3">
  <h3>Student Files</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Uploaded PDF</th>
        <th>Subject</th>
        <th>Topic</th>
        <th>Question id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.pdf }}</td>
        <td>{{ student.subject }}</td>
        <td>{{ student.topic }}</td>
        <td style="text-align: center;">{{ student.id }}</td>
        <td>
          عرض الـ PDF في نافذة جديدة
          <button class="btn btn-info" (click)="viewPDF(student.pdf)">View PDF</button>
          تنزيل الـ PDF
          <button class="btn btn-success" (click)="downloadFile(student.pdf)">Download PDF</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
