/* Center the form in the middle of the page */
.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.card {
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: -20px;

}
/* Dark Mode Styles */
.dark-mode {
  color: white !important;
}

.dark-mode h1,
.dark-mode h3,
.dark-mode label,
.dark-mode p {
  color: white !important;
}

.dark-mode .card {
  background-color: #333 !important;
  color: white !important;
  border-color: #555 !important;
}

.dark-mode .form-control {
  background-color: #444 !important;
  color: white !important;
  border-color: #666 !important;
}

.dark-mode .form-control::placeholder {
  color: #aaa;
}

.dark-mode .btn-primary {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white !important;
}

.dark-mode .btn-primary:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
}

.dark-mode .input-group-text {
  background-color: #444 !important;
  color: white !important;
  border-color: #666 !important;
}

.dark-input {
  background-color: #444 !important;
  color: white !important;
  border-color: #666 !important;
}

.dark-input::placeholder {
  color: #aaa;
}

.dark-mode .link-primary{
  color: #007bff !important;
}

.dark-mode .link-primary:hover{
  color: #0056b3 !important;
}
