<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<div class="container card mt-5 p-4 shadow" [ngClass]="{'dark-mode': isDarkMode}">
  <h2 class="text-center" [ngClass]="{'dark-mode': isDarkMode}">Reset Password</h2>

  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

    <label [ngClass]="{'dark-mode': isDarkMode}">New Password</label>
    <div class="input-group mb-2">
      <input
        [type]="showPassword ? 'text' : 'password'"
        class="form-control"
        formControlName="newPassword"
        (input)="onPasswordInput()"
        placeholder="Enter new password"
        [ngClass]="{'dark-input': isDarkMode}"
      />
      <span class="input-group-text" style="cursor: pointer;" (click)="toggleShowPassword()" [ngClass]="{'dark-mode': isDarkMode}">
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
      </span>
    </div>
    <div *ngIf="(f['newPassword'].dirty || submitted) && f['newPassword'].invalid" class="text-danger mb-2" [ngClass]="{'dark-mode': isDarkMode}">
      <div *ngIf="f['newPassword'].errors?.['required']">Password is required</div>
      <div *ngIf="!passwordConditions.minLength">• At least 6 characters</div>
      <div *ngIf="!passwordConditions.hasLowerCase">• At least one lowercase letter</div>
      <div *ngIf="!passwordConditions.hasUpperCase">• At least one uppercase letter</div>
      <div *ngIf="!passwordConditions.hasNumber">• At least one number</div>
      <div *ngIf="!passwordConditions.hasSpecialChar">• At least one special character</div>
    </div>

    <label [ngClass]="{'dark-mode': isDarkMode}">Confirm Password</label>
    <div class="input-group mb-2">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm password"
        [ngClass]="{'dark-input': isDarkMode}"
      />
      <span class="input-group-text" style="cursor: pointer;" (click)="toggleShowConfirmPassword()" [ngClass]="{'dark-mode': isDarkMode}">
        <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
      </span>
    </div>
    <div *ngIf="(f['confirmPassword'].dirty || submitted) && f['confirmPassword'].invalid" class="text-danger mb-2" [ngClass]="{'dark-mode': isDarkMode}">
      <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm password is required</div>
      <div *ngIf="f['confirmPassword'].errors?.['mustMatch']">Passwords do not match</div>
    </div>

    <div *ngIf="toastMessage" class="text-success text-center mb-3" [ngClass]="{'dark-mode': isDarkMode}">{{ toastMessage }}</div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid" [ngClass]="{'dark-mode': isDarkMode}">
      Reset Password
    </button>
  </form>
</div>
